@import "~bootstrap/dist/css/bootstrap.css";

nav {
    margin-bottom: 40px;
}

nav.bg-primary {
    background-color: rgb(91, 162, 255);
}

li > a {
    cursor: pointer;
    color: rgb(255, 249, 249) !important;
}

li > a:hover {
    cursor: pointer;
    color: rgb(62, 76, 156) !important;
}

li.nav-item {
    font-size: calc(5px + 1vw);
}