@import "~bootstrap/dist/css/bootstrap.css";

div.align-items-center {
    display: flex;
    position:fixed;
    width: 100%;
    height:100%;
    z-index: 20;
    top:0;
    left:0;
    bottom: 0;
}
