<div class="container">
    <div class="row">
        <div class="col">
            <form   [formGroup]="formGroup" (submit)="onSubmit()" *ngIf="formGroup">
                <div formGroupName="employeeModel">
                <div class="form-group">
                    <input type="hidden"  [value]="employee.id" formControlName="id"/>
                </div>
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input class="form-control" type="text" id="username" placeholder="enter username" [value]="employee.username" formControlName="username"/>

                    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert-form-control">
                        <div *ngIf="(username?.errors?.required) || (username?.errors?.notOnlyWhitespace) ">
                            Username name is required
                        </div>
                        <div *ngIf="username?.errors?.minlength">
                            Username must be at least 5 characters Long
                        </div>
                        <div *ngIf="username?.errors?.maxlength">
                            Username must be at Maximum 20 characters Long
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input class="form-control" type="text" id="email" placeholder="enter Email" [value]="employee.email"  formControlName="email"/>

                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert-form-control">

                        <div *ngIf="email?.errors?.required">
                            Email is required
                        </div>
                            <div *ngIf="email?.errors?.pattern">
                             Email must be a valid email address format.
                            </div>
                     </div>

                </div>
                <div class="form-group">
                    <label for="age">Age: </label>
                    <input class="form-control" type="text" id="age" placeholder="enter Age" [value]="employee.age" formControlName="age"/>

                    <div *ngIf="age?.invalid && (age?.dirty || age?.touched)" class="alert-form-control">
                        <div *ngIf="(age?.errors?.required) || (age?.errors?.notOnlyWhitespace) ">
                            Age is required
                        </div>
                        <div *ngIf="age?.errors?.min">
                            Age must be at least 18 characters Long
                        </div>
                        <div *ngIf="age?.errors?.max">
                            Age must be at Maximum 90 characters Long
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="doc">Document: </label>
                    <input class="form-control" type="text" id="doc" placeholder="enter Document"  [value]="employee.doc" formControlName="doc"/>
                   
                    <div *ngIf="doc?.invalid && (doc?.dirty || doc?.touched)" class="alert-form-control">
                        <div *ngIf="(doc?.errors?.required) || (doc?.errors?.notOnlyWhitespace) ">
                            Document is required
                        </div>
                        <div *ngIf="doc?.errors?.minlength">
                            Document must be at least 10 characters Long
                        </div>
                        <div *ngIf="doc?.errors?.maxlength">
                            Document must be at least 20 characters Long
                        </div>
                    </div>

                </div>

                <div class="form-group d-flex flex-column">
                    <label for="roles">Roles: </label>
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-row mr-3" *ngFor="let role of rolesDto" >
                        <input type="checkbox" [id]="role.name" class="custom-control mr-1 mb-3" [value]="role.name" (change)="onRoleAdded(role.name)" [checked]="checkBoxRoles.get(role.name)" >
                        <label [for]="role.name"> {{role.name}}</label>
                       </div>
                    </div>
                    <div *ngIf="roles?.invalid && (roles?.dirty || roles?.touched)" class="alert-form-control">

                        <div *ngIf="roles?.errors?.required">
                            Role  is required
                        </div>
                     </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mr-4">Update</button>
                    <a class="hover" [routerLink]="['/..','employees']"  >Back to List</a>
                </div>
             </div>
            </form>
        </div>
    </div>
</div>